<span class="icon icon-arrow-button"></span>
<span class="icon icon-arrow-next"></span>
<span class="icon icon-arrow-previous"></span>

<span class="icon icon-facebook"></span>
<span class="icon icon-youtube"></span>
<span class="icon icon-instagram"></span>
<span class="icon icon-twitter"></span>

<span class="icon icon-user"></span>
<span class="icon icon-search"></span>
<span class="icon icon-cart"></span>

<span class="icon icon-eye"></span>
<span class="icon icon-heart"></span>

<span class="icon icon-home"></span>
<span class="icon icon-info"></span>
<span class="icon icon-key"></span>

<span class="icon icon-link"></span>
<span class="icon icon-minus"></span>
<span class="icon icon-pen"></span>

<span class="icon icon-pin"></span>
<span class="icon icon-screen"></span>
<span class="icon icon-mail"></span>

<span class="icon icon-bin"></span>
<span class="icon icon-check"></span>

<span class="icon icon-zip"></span>
<span class="icon icon-check"></span>

<span class="icon icon-calendar1"></span>
<span class="icon icon-fee"></span>
<span class="icon icon-fee1"></span>
<span class="icon icon-gif"></span>
<span class="icon icon-iso"></span>
<span class="icon icon-jpg"></span>
<span class="icon icon-pdf"></span>
<span class="icon icon-png"></span>
<span class="icon icon-ppt"></span>
<span class="icon icon-rar"></span>
<span class="icon icon-txt"></span>
<span class="icon icon-xml"></span>
<span class="icon icon-zip"></span>

<span class="icon icon-globe"></span>
<span class="icon icon-apple"></span>
<span class="icon icon-googleplay1"></span>
<span class="icon icon-googleplay5"></span>
<span class="icon icon-steam4"></span>
<span class="icon icon-hashtag"></span>
<span class="icon icon-location1"></span>
<span class="icon icon-microphone"></span>
<span class="icon icon-paypal2"></span>
<span class="icon icon-playicon"></span>
<span class="icon icon-sign"></span>

<span class="icon icon-age"></span>
<span class="icon icon-clock"></span>
<span class="icon icon-horse"></span>













