<div class="row">
<div class="col-6">
<h2> Profile </h2>
</div>
</div>
<div class="row">
  <div class="col-12 col-sm-5">
  <input type="text" class="form-control" placeholder="First Name">
	<input type="text" class="form-control" placeholder="Last Name">
    <input type="text" class="form-control" placeholder="Phone 1">
    <input type="text" class="form-control" placeholder="Mobile Phone">
  </div>
  <div class="col-12 col-sm-5">
    <input type="text" class="form-control" placeholder="Main Store Name ">
<input type="text" class="form-control" placeholder="City">
    <input type="text" class="form-control" placeholder="Website 1">
    <input type="text" class="form-control" placeholder="Website 2">
  </div>
  <div class="col-6 col-sm-2">
  <button class="button button-primary">Edit</button>
  </div>
  </div>
  
   