<div class="row numbers">
  <div class="card col-12 col-sm-4">
  	<div class="numbers-card">
	    <p class="card-text">>US$36M</p>
	    <p class="card-text">Raised on Kickstarter</p>
	    <p class="card-text">Note:as of 30 June 2017</p>
	</div>
  </div>
  <div class="card col-12 col-sm-4">
  	<div class="numbers-card">
	    <p class="card-text">>US$36M</p>
	    <p class="card-text">Raised on Kickstarter</p>
	    <p class="card-text">Note:as of 30 June 2017</p>
	</div>
  </div>
  <div class="card col-12 col-sm-4">
  	<div class="numbers-card">
	    <p class="card-text">>US$36M</p>
	    <p class="card-text">Raised on Kickstarter</p>
	    <p class="card-text">Note:as of 30 June 2017</p>
	</div>
  </div>
</div>
