<div class="article-page">
  <div class="row article-odd">
    <div class="card col-6 col-sm-6">
        <img src="assets/images/content/640x430.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <h5 class="card-subtitle">Subtitle</h5>
        <time class="card-time">Date</time>
      </div>
    </div>
    <div class="card col-6 col-sm-3">
        <img src="assets/images/content/640x430.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <h5 class="card-subtitle">Subtitle</h5>
        <time class="card-time">Date</time>
      </div>
    </div>
    <div class="card col-12 col-sm-3">
        <img src="assets/images/content/640x430.png" alt="Card image cap">
      <div class="card-block">
       <h4 class="card-title">Title</h4>
        <h5 class="card-subtitle">Subtitle</h5>
        <time class="card-time">Date</time>
      </div>
    </div>
  </div>
  <div class="row article-even">
    <div class="card col-6 col-sm-3">
        <img src="assets/images/content/640x430.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <h5 class="card-subtitle">Subtitle</h5>
        <time class="card-time">Date</time>
      </div>
    </div>
    <div class="card col-6 col-sm-3">
        <img src="assets/images/content/640x430.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <h5 class="card-subtitle">Subtitle</h5>
        <time class="card-time">Date</time>
      </div>
    </div>
    <div class="card col-12 col-sm-6">
        <img src="assets/images/content/640x430.png" alt="Card image cap">
      <div class="card-block">
       <h4 class="card-title">Title</h4>
        <h5 class="card-subtitle">Subtitle</h5>
        <time class="card-time">Date</time>
      </div>
    </div>
  </div>
  <div class="row article-odd">
    <div class="card col-6 col-sm-6">
        <img src="assets/images/content/640x430.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <h5 class="card-subtitle">Subtitle</h5>
        <time class="card-time">Date</time>
      </div>
    </div>
    <div class="card col-6 col-sm-3">
        <img src="assets/images/content/640x430.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Title</h4>
        <h5 class="card-subtitle">Subtitle</h5>
        <time class="card-time">Date</time>
      </div>
    </div>
    <div class="card col-12 col-sm-3">
        <img src="assets/images/content/640x430.png" alt="Card image cap">
      <div class="card-block">
       <h4 class="card-title">Title</h4>
        <h5 class="card-subtitle">Subtitle</h5>
        <time class="card-time">Date</time>
      </div>
    </div>
  </div>
</div>