<div class="row submit-modal">
  <div class="row">
    <div class="col-12 col-sm-12">
      <button class="button button-primary">X</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4">
      <input type="text" class="form-control" placeholder="Event Name">
      <input type="text" class="form-control" placeholder="Event Type">
      <input type="text" class="form-control" placeholder="Date">
      <input type="text" class="form-control" placeholder="Time">
      <input type="text" class="form-control" placeholder="Play Addreses">
      <input type="text" class="form-control" placeholder="Fee(Optional)">
    </div>
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <textarea class="form-control" id="exampleTextarea" rows="9">Description...</textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-2">
      <button class="button button-primary">Cancel Changes</button>
    </div>
    <div class="col-6 col-sm-2">
      <button class="button button-primary">Submit</button>
    </div>
  </div>
</div>