<h1>Profile details</h1>
<div class="row">
<div class="col-12 col-sm-6">
<input type="text" class="form-control" placeholder="First Name">
<input type="text" class="form-control" placeholder="Last Name">
<input type="text" class="form-control" placeholder="Store Name">
<input type="text" class="form-control" placeholder="Phone 1">
<input type="text" class="form-control" placeholder="Phone 2">
</div>
<div class="col-12 col-sm-6">
<input type="text" class="form-control" placeholder="Website">
<input type="text" class="form-control" placeholder="Tax ID">
<input type="text" class="form-control" placeholder="Email">
<input type="text" class="form-control" placeholder="Facebook">
</div>
</div>