<div class="row"> 
  <div class="col-12 col-sm-4 offset-0 offset-sm-2">
    <figure>
  	<a href="#">
  		<img class="card-img-top" src="..." alt="Card image cap">
  	</a>
    </figure>
    <div class="card-block">
      <h4 class="card-title">CUSTOMER SERVICE</h4>
      <p class="card-text">Need support or answer regardig our products? We're glad to help!</p>
      <button class="button button-primary">CONTACT CUSTOMER SERVICE</button>
    </div>
  </div>
  <div class="col-12 col-sm-4 offset-0 offset-sm-2">
    <figure>
    <a href="#">
      <img class="card-img-top" src="..." alt="Card image cap">
    </a>
    </figure>
    <div class="card-block">
      <h4 class="card-title">FORUM</h4>
      <p class="card-text">Join the discussons for our board games, miniature games and much more</p>
      <button class="button button-primary">GO TO FORUM</button>
    </div>
  </div>
</div>