<div class="row related-news">
  <h2 class="related-news-title">RELATED NEWS</h2>
  <button class="button button-primary">Go To All News<i class="icon icon-arrow-button"></i></button>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <h5 class="card-subtitle">Card subtitle</h5>
          <time class="card-time">Feb 28, 2018</time>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <h5 class="card-subtitle">Card subtitle</h5>
          <time class="card-time">Feb 28, 2018</time>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <h5 class="card-subtitle">Card subtitle</h5>
          <time class="card-time">Feb 28, 2018</time>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <h5 class="card-subtitle">Card subtitle</h5>
          <time class="card-time">Feb 28, 2018</time>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <h5 class="card-subtitle">Card subtitle</h5>
          <time class="card-time">Feb 28, 2018</time>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <h5 class="card-subtitle">Card subtitle</h5>
          <time class="card-time">Feb 28, 2018</time>
        </div>
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next">
      <i class="icon icon-arrow-next"></i>
    </div>
    <div class="swiper-button-prev">
      <i class="icon icon-arrow-previous"></i>
    </div>
  </div>
</div>

  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 30,
      slidesPerGroup: 3,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>