<div class="row download">
  <h2 class="download-title col-12 col-sm-6">DOWNLOADS</h2>
  <div class="download-parallax">
    <figure class="figure-large">
        <img src="assets/images/content/1600x680.png" />
    </figure>
  </div>
  <div class="download-links col-12 col-sm-6">
    <div class="download-wrapper">
    	<div class="download-link">
    		<i class="icon icon-pdf"></i>
        <span class="download-caption">Rulebook v1.2</span>
        <a href="#" class="download-button"><i class="icon icon-download2"></i></a>
        <span class="download-size">14.8MB</span>
    	</div>
      <div class="download-link">
        <i class="icon icon-pdf"></i>
        <span class="download-caption">Rulebook v1.2</span>
        <a href="#" class="download-button"><i class="icon icon-download2"></i></a>
        <span class="download-size">14.8MB</span>
      </div>
      <div class="download-link">
        <i class="icon icon-pdf"></i>
        <span class="download-caption">Rulebook v1.2</span>
        <a href="#" class="download-button"><i class="icon icon-download2"></i></a>
        <span class="download-size">14.8MB</span>
      </div>
    </div>
  </div>
</div>