<div class="row download-tile">
		<div class="col-6 col-sm-4 article-investor">
			<div class="article-wrapp">
		    	<h2 class="article-time">Title</h2>
		    	<h3 class="article-title">File Size</h3>
		    	<button class="button button-primary">Download PDF</button>
			</div>
		</div>
		<div class="col-6 col-sm-4 article-investor">
			<div class="article-wrapp">
		    	<h2 class="article-time">Title</h2>
		    	<h3 class="article-title">File Size</h3>
		    	<button class="button button-primary">Download PDF</button>
			</div>
		</div>
		<div class="col-6 col-sm-4 article-investor">
			<div class="article-wrapp">
		    	<h2 class="article-time">Title</h2>
		    	<h3 class="article-title">File Size</h3>
		    	<button class="button button-primary">Download PDF</button>
			</div>
		</div>
		<div class="col-6 col-sm-4 article-investor">
			<div class="article-wrapp">
		    	<h2 class="article-time">Title</h2>
		    	<h3 class="article-title">File Size</h3>
		    	<button class="button button-primary">Download PDF</button>
			</div>
		</div>
		<div class="col-6 col-sm-4 article-investor">
			<div class="article-wrapp">
		    	<h2 class="article-time">Title</h2>
		    	<h3 class="article-title">File Size</h3>
		    	<button class="button button-primary">Download PDF</button>
			</div>
		</div>
		<div class="col-6 col-sm-4 article-investor">
			<div class="article-wrapp">
		    	<h2 class="article-time">Title</h2>
		    	<h3 class="article-title">File Size</h3>
		    	<button class="button button-primary">Download PDF</button>
			</div>
		</div>
</div>