<div class="row store-name">
  <div class="row">
    <div class="col-12 col-sm-4">
      <h2>Store Name</h2>
      <p>Address</p>
      <p>Phone Number</p>
      <p>Website</p>
      <h2>Store Hours</h2>
      <p>Mo. 9AM - 6PM</p>
      <p>Tu. 9AM - 6PM</p>
      <p>We. 9AM - 6PM</p>
      <p>Th 9AM - 6PM</p>
      <p>Fr. 9AM - 6PM</p>
      <p>Sa. 9AM - 6PM</p>
      <p>Su. closed</p>
    </div>
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <textarea class="form-control" id="exampleTextarea" rows="7">Description...</textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <button class="button button-primary">Hide Events</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4">
      <h2>Upcoming Events</h2>
      <time>December 29. at 22:00</time>
      <p>Game Type</p>
      <p>Event Type</p>
      <p>Store Name</p>
      <p>Address</p>
      <p>Phone Number</p>
      <p>Website</p>
    </div>
    <div class="col-12 col-sm-8">
      <div class="form-group">
        <textarea class="form-control" id="exampleTextarea" rows="7">Description...</textarea>
      </div>
    </div>
  </div>
</div>