<div class="row article-four-column">
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Spotlight Title</h4>
      <h5 class="card-subtitle">Member Name/</h5>
      <p class="card-text">Other Tekst</p>
      <button class="button button-primary">View More</button>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Spotlight Title</h4>
      <h5 class="card-subtitle">Member Name/</h5>
      <p class="card-text">Other Tekst</p>
      <button class="button button-primary">View More</button>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Spotlight Title</h4>
      <h5 class="card-subtitle">Member Name/</h5>
      <p class="card-text">Other Tekst</p>
      <button class="button button-primary">View More</button>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Spotlight Title</h4>
      <h5 class="card-subtitle">Member Name/</h5>
      <p class="card-text">Other Tekst</p>
      <button class="button button-primary">View More</button>
    </div>
  </div>
</div>
<div class="row article-four-column">
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Spotlight Title</h4>
      <h5 class="card-subtitle">Member Name/</h5>
      <p class="card-text">Other Tekst</p>
      <button class="button button-primary">View More</button>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Spotlight Title</h4>
      <h5 class="card-subtitle">Member Name/</h5>
      <p class="card-text">Other Tekst</p>
      <button class="button button-primary">View More</button>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Spotlight Title</h4>
      <h5 class="card-subtitle">Member Name/</h5>
      <p class="card-text">Other Tekst</p>
      <button class="button button-primary">View More</button>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Spotlight Title</h4>
      <h5 class="card-subtitle">Member Name/</h5>
      <p class="card-text">Other Tekst</p>
      <button class="button button-primary">View More</button>
    </div>
  </div>
</div>
