<div class="row related-news">
  <h2 class="related-news-title">WHAT'S NEW?</h2>
  <button class="button button-primary">Go To All News<i class="icon icon-arrow-button"></i></button>
  <div class="swiper-container related-news">
    <div class="swiper-wrapper">
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
            <time class="card-time">Date</time>
          <h4 class="card-title">Title</h4>
          <h5 class="card-subtitle">Subtitle</h5>
          <p>Text</p>
          <button class="button button-primary">View More</button>
         </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
         <div class="card-block">
            <time class="card-time">Date</time>
          <h4 class="card-title">Title</h4>
          <h5 class="card-subtitle">Subtitle</h5>
          <p>Text</p>
          <button class="button button-primary">View More</button>
         </div>

      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
            <time class="card-time">Date</time>
          <h4 class="card-title">Title</h4>
          <h5 class="card-subtitle">Subtitle</h5>
          <p>Text</p>
          <button class="button button-primary">View More</button>
         </div>

      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
         <div class="card-block">
            <time class="card-time">Date</time>
          <h4 class="card-title">Title</h4>
          <h5 class="card-subtitle">Subtitle</h5>
          <p>Text</p>
          <button class="button button-primary">View More</button>
         </div>

      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
            <time class="card-time">Date</time>
          <h4 class="card-title">Title</h4>
          <h5 class="card-subtitle">Subtitle</h5>
          <p>Text</p>
          <button class="button button-primary">View More</button>
         </div>

      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
       <div class="card-block">
            <time class="card-time">Date</time>
          <h4 class="card-title">Title</h4>
          <h5 class="card-subtitle">Subtitle</h5>
          <p>Text</p>
          <button class="button button-primary">View More</button>
         </div>

      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next">
      <i class="icon icon-arrow-next"></i>
    </div>
    <div class="swiper-button-prev">
      <i class="icon icon-arrow-previous"></i>
    </div>
    </div>
  </div>

  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 4,
      spaceBetween: 30,
      slidesPerGroup: 4,
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>