<div class="charity-list">
    <div class="card row">
      <figure class="figure-large col-12 col-sm-4">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/420x420.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block col-12 col-sm-8">
        <h4 class="card-title">Spotlight title</h4>
        <time class="card-time">Feb 28, 2018</time>
        <p class="card-text">Other Text</p>
        <button class="button button-primary">Read More<i class="icon icon-arrow-button"></i></button>
      </div>
    </div>
    <div class="card row">
      <figure class="figure-large col-12 col-sm-4">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/420x420.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block col-12 col-sm-8">
        <h4 class="card-title">Spotlight title</h4>
        <time class="card-time">Feb 28, 2018</time>
        <p class="card-text">Other Text</p>
        <button class="button button-primary">Read More<i class="icon icon-arrow-button"></i></button>
      </div>
    </div>
    <div class="card row">
      <figure class="figure-large col-12 col-sm-4">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/420x420.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block col-12 col-sm-8">
        <h4 class="card-title">Spotlight title</h4>
        <time class="card-time">Feb 28, 2018</time>
        <p class="card-text">Other Text</p>
        <button class="button button-primary">Read More<i class="icon icon-arrow-button"></i></button>
      </div>
    </div>
    <div class="card row">
      <figure class="figure-large col-12 col-sm-4">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/420x420.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block col-12 col-sm-8">
        <h4 class="card-title">Spotlight title</h4>
        <time class="card-time">Feb 28, 2018</time>
        <p class="card-text">Other Text</p>
        <button class="button button-primary">Read More<i class="icon icon-arrow-button"></i></button>
      </div>
    </div>
</div>