<div class="row spotlight-list">
    <div class="card col-6 col-sm-3">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Spotlight title</h4>
        <h5 class="card-subtitle">Member Name</h5>
        <button class="button button-primary">View More<i class="icon icon-arrow-button"></i></button>
      </div>
    </div>
    <div class="card col-6 col-sm-3">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Spotlight title</h4>
        <h5 class="card-subtitle">Member Name</h5>
        <button class="button button-primary">View More<i class="icon icon-arrow-button"></i></button>
      </div>
    </div>
    <div class="card col-6 col-sm-3">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Spotlight title</h4>
        <h5 class="card-subtitle">Member Name</h5>
        <button class="button button-primary">View More<i class="icon icon-arrow-button"></i></button>
      </div>
    </div>
    <div class="card col-6 col-sm-3">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Spotlight title</h4>
        <h5 class="card-subtitle">Member Name</h5>
        <button class="button button-primary">View More<i class="icon icon-arrow-button"></i></button>
      </div>
    </div>
</div>