<div class="article-list">
  <div class="row">
    <div class="card col-12 col-sm-4">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
        <time class="card-time">Feb 28, 2018</time>
      </div>
    </div>
    <div class="card col-12 col-sm-4">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
        <time class="card-time">Feb 28, 2018</time>
      </div>
    </div>
    <div class="card col-12 col-sm-4">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
        <time class="card-time">Feb 28, 2018</time>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-12 col-sm-4">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
        <time class="card-time">Feb 28, 2018</time>
      </div>
    </div>
    <div class="card col-12 col-sm-4">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
        <time class="card-time">Feb 28, 2018</time>
      </div>
    </div>
    <div class="card col-12 col-sm-4">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
        <time class="card-time">Feb 28, 2018</time>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-12 col-sm-4">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
        <time class="card-time">Feb 28, 2018</time>
      </div>
    </div>
    <div class="card col-12 col-sm-4">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
        <time class="card-time">Feb 28, 2018</time>
      </div>
    </div>
    <div class="card col-12 col-sm-4">
      <figure class="figure-large">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
      </a>
      </figure>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
        <time class="card-time">Feb 28, 2018</time>
      </div>
    </div>
  </div>
</div>