<div class="card tile-featured-product">
    <figure class="figure-large">
        <img class="card-img-top hero-img" src="assets/images/content/640x430.png" alt="Card image cap">
    </figure>
    <div class="row card-block">
        <figure class="figure-small col-4">
            <img class="thumb-img" src="assets/images/content/420x420.png" alt="Card image cap">
        </figure>
        <div class="col-8">
            <h4 class="card-title">Product Name</h4>
            <button class="button button-primary">Buy Now</button>
        </div>
    </div>
</div>