<div class="row terms">
  <div class="row">
    <div class="col-12 col-sm-12">
      <h2> Request or Discuss Terms </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <label for="exampleTextarea">NAME</label>
      <textarea class="form-control" id="exampleTextarea" rows="1">
    </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <label for="exampleTextarea">COMPANY NAME</label>
      <textarea class="form-control" id="exampleTextarea" rows="1">
    </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <label for="exampleTextarea">EMAIL</label>
      <textarea class="form-control" id="exampleTextarea" rows="1">
    </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <label for="exampleTextarea">PHONE</label>
      <textarea class="form-control" id="exampleTextarea" rows="1">
    </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <div class="form-group">
        <label for="exampleSelect1">WHAT DO YOU WANT TO TALK ABOUT?</label>
        <select class="form-control" id="exampleSelect1">
        <option>Choose One</option>
        <option>Choose One</option>
        <option>Choose One</option>
        <option>Choose One</option>
        <option>Choose One</option>
      </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <label for="exampleTextarea">MESSAGE</label>
      <textarea class="form-control" id="exampleTextarea" rows="5">
    </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12">
      <button class="button button-primary">Submit</button>
    </div>
  </div>
</div>