<div class="row article-page">
  <div class="col-12">
	  <h2 class="article-title">Article Title</h2>
	  <time class="article-time">Feb 28, 2018</time>
	  <div class="article-text">
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat id ex vitae auctor. Fusce sagittis arcu vel tristique mollis. Integer quis metus ut erat condimentum sagittis. Nunc tempor erat vel tempor malesuada. Pellentesque posuere lacus eget mi molestie, pharetra dapibus ex sodales. Vivamus vel tellus sodales, tincidunt diam porttitor, eleifend elit. Nam imperdiet massa nec diam eleifend laoreet. Nam quis vehicula eros. Nullam metus lectus, pellentesque sed augue in, dictum aliquam ipsum. Donec finibus faucibus elit, ac posuere eros scelerisque non.
	  </div>
  </div>
</div>