<div class="row product-hero">
  <div class="hero-parallax">
    <figure class="figure-overlay">
        <img src="images/overlay-background.png" />
    </figure>
    <figure class="figure-large">
        <img src="assets/images/content/1600x680.png" />
    </figure>
  </div>
  <div class="col-12 col-sm-4 hero-left">
    <div class="hero-card">
        <img class="card-img-top hero-img" src="assets/images/content/420x420.png" alt="Card image cap">
        <h2 class="hero-title">STARK VS LANISTER STARTER SET</h2>
        <h3 class="hero-price">$149.99</h3>
        <h4 class="hero-availability">Available Now!</h4>
        <button class="button button-ghost-icon">ADD TO CART<i class="icon icon-arrow-button"></i></button>
    </div>
  </div>
  <div class="col-12 col-sm-8 hero-right">
    <div class="hero-social">
      <div class="right">
        <a href="#"><i class="icon icon-facebook2"></i></a>
        <a href="#"><i class="icon icon-twitter2"></i></a>
      </div>
    </div>
    <h2 class="hero-heading">Product Heading Component</h2>
    <div class="hero-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar posuere enim, quis auctor nisi ullamcorper in. Mauris nec lobortis ante, vel suscipit nibh. Sed magna nisi, ullamcorper eget fringilla at, bibendum porta dolor. Suspendisse egestas consequat risus. Vivamus malesuada odio in felis imperdiet, vitae blandit lacus dapibus. Pellentesque volutpat urna sed justo facilisis tempus. Nullam at mattis neque. Fusce sit amet consectetur orci, vitae feugiat sapien. Nullam tincidunt neque consectetur ligula consequat, nec cursus enim tincidunt. Vestibulum ac metus justo. Phasellus vitae magna a ex interdum feugiat. Aliquam nec est sed ipsum vehicula consectetur. Suspendisse vulputate viverra gravida. Nam rhoncus felis dictum, aliquet mi quis, suscipit ligula. Nunc molestie a enim nec volutpat.</p>
        <div class="hero-read-more">
          READ MORE <i class="icon icon-arrow-bottom"></i>
        </div>
    </div>
    <div class="hero-specs">
      <div class="hero-specs-description col-4">
        <i class="icon icon-clock"></i>
        <h3>PLAYING TIME</h3>
        <h4>45 - 60 min</h4>
      </div>
      <div class="hero-specs-description col-4">
        <i class="icon icon-horse"></i>
        <h3>MIN - MAX PLAYERS</h3>
        <h4>2+ players</h4>
      </div>
      <div class="hero-specs-description col-4">
        <i class="icon icon-age"></i>
        <h3>SUGGESTED AGE</h3>
        <h4>14+ years old</h4>
      </div>
    </div>
  </div>
</div>