<div class="forum-list">
	<h1>Forum</h1>
    <div class="card row">
       <div class="card-block col-12 col-sm-8">
        <h4 class="card-title">Community</h4>
        <p class="card-text">Text(Editable in Sitecore)</p>
        <button class="button button-primary">Go to Forums</button>
      </div>
      <figure class="figure-large col-12 col-sm-4">
      <a href="#">
        <img class="card-img-top" src="assets/images/content/420x420.png" alt="Card image cap">
      </a>
      </figure>
     </div>
</div>