<div class="row related-news">
  <h2 class="related-news-title">CMON STORE</h2>
  <button class="button button-primary">Go Shop<i class="icon icon-arrow-button"></i></button>
  <div class="swiper-container related-news">
    <div class="swiper-wrapper">
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
          <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-time">Product Name</h4>
          <h4 class="card-title">Additional Details</h4>
          <h5 class="card-subtitle">(Editable in Sitecore)</h5>
          <button class="button button-primary">View in Store</button>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
          <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-time">Product Name</h4>
          <h4 class="card-title">Additional Details</h4>
          <h5 class="card-subtitle">(Editable in Sitecore)</h5>
          <button class="button button-primary">View in Store</button>
        </div>

      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
          <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-time">Product Name</h4>
          <h4 class="card-title">Additional Details</h4>
          <h5 class="card-subtitle">(Editable in Sitecore)</h5>
          <button class="button button-primary">View in Store</button>
        </div>

      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
          <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-time">Product Name</h4>
          <h4 class="card-title">Additional Details</h4>
          <h5 class="card-subtitle">(Editable in Sitecore)</h5>
          <button class="button button-primary">View in Store</button>
        </div>

      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
          <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-time">Product Name</h4>
          <h4 class="card-title">Additional Details</h4>
          <h5 class="card-subtitle">(Editable in Sitecore)</h5>
          <button class="button button-primary">View in Store</button>
        </div>

      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
          <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-time">Product Name</h4>
          <h4 class="card-title">Additional Details</h4>
          <h5 class="card-subtitle">(Editable in Sitecore)</h5>
          <button class="button button-primary">View in Store</button>
        </div>

      </div>
    </div>