<div class="row article-four-column">
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
</div>
<div class="row article-four-column">
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
</div>
<div class="row article-four-column">
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
  <div class="card col-6 col-sm-3">
    <div class="card-image">
      <img src="assets/images/content/640x430.png" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">Game Name</h4>
      <h5 class="card-subtitle">Avialability</h5>
      <h5 class="card-subtitle">Players:</h5>
      <h5 class="card-subtitle">Age:</h5>
      <h5 class="card-subtitle">Time:</h5>
    </div>
  </div>
</div>
