<div class="row history">
  <h2 class="related-news-title">HISTORY</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <button class="button button-primary">          
            <time class="card-time">2001</time>
          </button>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <button class="button button-primary">          
            <time class="card-time">2001</time>
          </button>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <button class="button button-primary">          
            <time class="card-time">2001</time>
          </button>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <button class="button button-primary">          
            <time class="card-time">2001</time>
          </button>
        </div>
      </div>
      <div class="swiper-slide card col-6 col-sm-4">
        <figure class="figure-large">
        <a href="#">
          <img class="card-img-top" src="assets/images/content/640x430.png" alt="Card image cap">
        </a>
        </figure>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <button class="button button-primary">          
            <time class="card-time">2001</time>
          </button>
        </div>
      </div>
    </div>
    <!-- Add Scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
      scrollbar: {
        el: '.swiper-scrollbar',
        freeMode: true,
        hide: false,
        draggable: true,
        snapOnRelease: true
      },
    });
</script>